<% content_for(:title, 'Home') %>

<div class="poster-bar">
  <div class="poster">
    <a href="/video/1">
      <%= image_tag('video_posters/1.jpg', {:alt => '1.jpg'}) %>
    </a>
  </div> <!-- .poster -->
  <div class="poster">
    <a href="/video/2">
      <%= image_tag('video_posters/2.jpg', {:alt => '2.jpg'}) %>
    </a>
  </div> <!-- .poster -->
  <div class="poster">
    <a href="/video/3">
      <%= image_tag('video_posters/3.jpg', {:alt => '3.jpg'}) %>
    </a>
  </div> <!-- .poster -->
</div> <!-- .poster-bar -->
<%=
  content_tag :video,
    :controls => 'controls',
    :width => 500,
    :preload => 'auto',
    :height => 275 do
      source_tags = tag :source, {
        'type' => 'video/mp4',
        'src' => asset_url("#{@desired_video}.mp4")
      }
      source_tags += tag :source, {
        'type' => 'video/ogg',
        'src' => asset_url("#{@desired_video}.ogv")
      }
      source_tags += tag :source, {
        'type' => 'video/webm',
        'src' => asset_url("#{@desired_video}.webm")
      }
      source_tags += content_tag 'object', {
        :type => 'application/x-shockwave-flash',
        :data => 'flashmediaelement.swf'
      } do
        param_tags = tag :param, {
          :name => 'movie',
          :value => 'flashmediaelement.swf'
        }
        param_tags += tag :param, {
          :name => 'flashvars',
          :value => 'controls=true&amp;poster=myvideo.jpg&amp;file=myvideo.mp4'
        }
        param_tags += image_tag('video_posters/1', :alt => '1.jpg')
        param_tags
      end
      source_tags
    end
%>
<p>Want a copy?</p>
<div class="download-panels">
  <div class="panel">
    <ul>
      <li>
        First, choose a format.
      </li>
      <li>
        Option
      </li>
      <li>
        Option
      </li>
    </ul>
  </div> <!-- .panel -->
  <div class="panel">
    <ul>
      <li>
        Then choose a resolution.
      </li>
      <li>
        Option
      </li>
      <li>
        Option
      </li>
    </ul>
  </div> <!-- .panel -->
  <div class="panel">
    <ul>
      <li>
        Download it!
      </li>
      <li>
        Option
      </li>
      <li>
        Option
      </li>
    </ul>
  </div> <!-- .panel -->
</div> <!-- .downloads -->
