// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables
$gray: #252525;
$light-gray: #d8d6d6;
$white: #ebebeb;
$player-height: 600px;
$helvetica-stack: "Helvetica Neue", "Helvetica", sans-serif;

// Content
p {
  color: $white;
  font: {
    family: "Freight";
    size: 2.75em;
  }
  margin: 35px auto;
  padding: 15px 0;
  text-align: center;
}

// Poster Bar
.poster-bar {
  padding: 15px 0;
  overflow: auto;
  width: 1024px;
}

.poster-bar .poster:first-of-type {
  margin-left: 61.438px;
}

.poster-bar .poster img {
  border: 2.5px solid white;
  cursor: pointer;
  float: left;
  margin: 20px;
  height: 150px;
  width: 257.333333px;
}

// MediaElement
.mejs-container {
  background-color: $gray;
}

.mejs-container, .mejs-container video, .mejs-overlay {
  height: $player-height !important;
  width: 100% !important;
}

// Download Panels
.download-panels {
  margin: 50px auto;
}

.panel {
  background-color: #a5a5a5;
  border-radius: 2.5px;
  float: left;
  margin: 0 20px;
  width: 301.333333px;
}

.inactive-panel * {
  // Show the 'not-allowed' cursor on the element and its' children
  cursor: not-allowed !important;
}

.panel ul {
  color: #282727;
}

.panel li:first-of-type {
  color: #ebebeb;
  font: {
    family: "Freight Condensed";
    size: 1.75em;
  }
  letter-spacing: 0.75px;
  margin-top: 5px;
  padding: 15px 25px;
}

.panel li:not(:first-of-type) {
  display: block;
  font: {
    family: $helvetica-stack;
    weight: 200;
  }
}

.panel li:last-of-type {
  margin-bottom: 15px;
}

.panel img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 150px 0;
  width: 25%;
}

// Panel Links
.panel a {
  background-color: $light-gray;
  color: #282727;
  cursor: pointer;
  display: block;
  padding: 25px 35px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 125ms;
  // These shouldn't be highlightable
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.panel a:hover, .panel a.chosen {
  background-color: white;
  color: #111; // Doubt this contrast is noticable but still
}

.panel a:active {
  background-color: #B2AEAE;
  color: black; // Again, doubt this contrast is noticable but still
}

// Fonts
@font-face {
  font-family: "Freight";
  src: url('Freight/freight.eot');
  src: url('Freight/freight.eot?#iefix') format('embedded-opentype'),
       url('Freight/freight.woff2') format('woff2'),
       url('Freight/freight.woff') format('woff'),
       url('Freight/freight.ttf') format('truetype'),
       url('Freight/freight.svg') format('svg');
}

@font-face {
  font-family: "Freight Condensed";
  src: url('FreightCondensed/freight.eot');
  src: url('FreightCondensed/freight_condensed.eot?#iefix') format('embedded-opentype'),
       url('FreightCondensed/freight_condensed.woff2') format('woff2'),
       url('FreightCondensed/freight_condensed.woff') format('woff'),
       url('FreightCondensed/freight_condensed.ttf') format('truetype'),
       url('FreightCondensed/freight_condensed.svg') format('svg');
}
